:root {
    --scrollbar-padding: 90px;
}

.constructorSection {
    width: calc(50% - 40px);
}

.list::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
}

.list::-webkit-scrollbar-track {
    background: #2F2F37; /* цвет дорожки */
}

.list::-webkit-scrollbar-thumb {
    background-color: #8585AD; /* цвет плашки */
}

.list::-webkit-scrollbar-thumb:hover {
    border: var(--scrollbar-padding) solid rgba(255,255,255,0);
}

.list::-webkit-scrollbar-thumb,
.list::-webkit-scrollbar-track {
    border: var(--scrollbar-padding) solid rgba(255,255,255,0);
    background-clip: padding-box;
}

.list {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-height: 598px;
    padding-right: 8px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.listEmpty {
    margin-top: 100px;
    display: flex;
    height: calc(100vh - 220px);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px dashed #8633E4;
}

.listEmptyHover {
    border: 2px dashed #8633E4;
}

.firstItem,
.lastItem {
   padding-right: 16px;
}

.cost {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.constructorFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}
