.list {
    width: 50%;
}

.tabBlock {
    display: flex;
    margin-top: 20px;
}

.tabContent {
    height: calc(100vh - 275px);
    padding-right: 10px;
}

.ingredientGroup {
    margin: 15px 0;
}

@media (max-width: 768px) {
    .list {
        width: unset;
    }

    .tabBlock > div {
        min-width: unset;
    }
}
