.body {
    display: flex;
    flex-direction: column;
    width: 520px;
    margin: auto;
    align-items: center;
}

.img {
    width: 480px;
}

.name {
    margin: 16px 0 0;
    line-height: 30px;
    font-weight: normal;
}

.composition {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 32px;
}

.compositionItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

.compositionValue {
    font-size: 28px;
    line-height: 24px;
}

.modalContent {
    position: relative;
    background-color: #1C1C21;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 40px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    padding: 40px 40px 60px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
}

.modalHeader {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
