.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    display: flex;
}

.modalDialog {
    width: 720px;
    margin: auto;
}

.modalContent {
    position: relative;
    background-color: #1C1C21;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 40px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
}

.closeButton {
    position: absolute;
    top: 48px;
    right: 40px;
    cursor: pointer;
}
