.container {
  margin: auto;
  width: 1240px;
  height: calc(100vh - 128px);
}

.body {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.title  {
  margin: 40px 0 0;
  font-size: 36px;
  line-height: 40px;
}

.text-center {
  text-align: center;
}

.scrollable {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scrollable::-webkit-scrollbar {
  width: 8px; /* ширина scrollbar */
}

.scrollable::-webkit-scrollbar-track {
  background: #2F2F37; /* цвет дорожки */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #8585AD; /* цвет плашки */
}

@media (max-width: 768px) {
  .container {
    width: unset;
  }

  .body {
    flex-direction: column;
  }
}
