.container {
    margin: auto;
    width: 1240px;
    height: calc(100vh - 128px);
}

.body {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.alertDanger {
    display: flex;
    justify-content: center;
    font-size: 30px;
    height: inherit;
    align-items: center;
}
