aside {
    margin-top: 120px;
    width: 320px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0 0 80px;
}

aside ul li {
    color: #8585AD;
    line-height: 64px;
    cursor: pointer;
}

aside ul a {
    text-decoration: none;
    color: #8585AD;
}

.activeLink {
    color: #fff;
}
